/* CSS declarations go here */

#container {
  margin-top: 20px;
  margin-bottom: 20px;
}

.logInOut {
  position: absolute; top: 20px; right: 20px;
}

#actionsMenuDropdown {
  position: absolute; top: 20px; left: 20px;
}

#appWrap {
  margin-top: 65px;
}

#theCard {
  min-height: 200px;
}

#cardNav {
  text-align: center;
}

.addOneForm {
  margin-top: 10px;
}

.blur {
  position: absolute; top:0px; left: 0px;
  width: 100%;
  height: 100%;
  z-index: 5;
  background: #000;
  opacity: 0.5;
}
