/* CSS declarations go here */

#container {
  margin-top: 20px;
  margin-bottom: 20px;
}

.logInOut {
  position: absolute; top: 20px; right: 20px;
}

#actionsMenuDropdown {
  position: absolute; top: 20px; left: 20px;
}

#appWrap {
  margin-top: 65px;
}

#theCard {
  min-height: 200px;
}

#cardNav {
  text-align: center;
}
